.d-none {
  display: none;
}
.custom-select {
  position: relative;
  display: inline-block;
  width: 10rem;
  border: 1px solid black;
}
.select-items {
  position: absolute;
  width: 10rem;
  border: 1px solid black;
  margin-left: -1px;
  background-color: white;
}